body {
  font-family: 'Sofia Sans', sans-serif;
  background: #4a4e69
}

.content {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  color: #22223b;
  line-height: 0.4;
  padding: 10px 30px;
}

.highlight {
  color: #F2E9E4;
}